<div class="todo-item" [ngClass]="{'completed': todo.completed}">
  <!-- через класс not working -->
  <!--<div class="todo-item" *ngFor="let todo of todos" [сlass.completed] = "todo.completed">-->

  <button class="checkbox icon" (click)="toggle()">
    <!-- структурная директива -->
    <!--<i *ngIf="!todo.completed" class="material-icons">check_box_outline_blank</i>-->
    <!--<i *ngIf="todo.completed" class="material-icons">check-box</i>-->

    <!-- интреполяция/interpolation -->
    <!--<i class="material-icons">{{ todo.completed ? 'check-box' :  'check_box_outline_blank'}}</i>-->

    <!-- переплет свойств/property binding -->
    <i class="material-icons" [textContent]="todo.completed ? 'check-box' :  'check_box_outline_blank'"></i>
  </button>

  <span class="title">{{ todo.title }}</span>

  <div class="actions">
    <button class="delete icon">
      <i class="material-icons" (click)="onDelete()">delete</i>
    </button>
  </div>
</div>
